<html>
<head>
	<h1> The School trust </h1>
</head>

<body>

<h3> Teacher Dashboard </h3>
<form action="/teacherdashboard" method="get">
    <button name="tdash" value="send">HERE</button>
</form>

<h3> Company Dashboard </h3>

</body>
</html>