<html>
<head>
	<title>The School Trust Home</title>
	<div class='container'>
		<link rel="stylesheet" href="static/skeleton/css/normalize.css">
		<link rel="stylesheet" href="static/skeleton/css/skeleton.css">
		<div>
			<h1> The School Trust. </h1>
			<p>The School Trust takes pride in connecting, facilitating, and updating our schools and donors through our platform.</p>
		</div>
	</div>
</head>

<body>

<div class='container'>

	<h4><strong>Login/Register</strong></h4>
	<div class="row">
		<div class="four columns"><a class="u-pull-left u-full-width button" href="/teacherreglog">Teacher</a></div>
		<div class="four columns"><a class="u-pull-right u-full-width button" href="/companyreglog">Company</a></div>
	</div>

	<p></p>
	<h4><strong>Already Enrolled?</strong></h4>
	<div class="row">
		<div class="four columns"><a class="u-pull-left u-full-width button button-primary" href="/teacherdashboard">Teacher Dashboard</a></div>
		<div class="four columns"><a class="u-pull-right u-full-width button button-primary" href="/companydashboard">Company Dashboard</a></div>
	</div>

	<p></p>
	<h4><strong>View a Company Profile</strong></h4>
	<div class="row">
		<form action="/companyprofile" method="get">
			<div class="four columns">
				<select class="u-full-width" id="company" name="company_id">
				<!-- <script type="text/javascript"> -->
				    <option value="" disabled selected>Company Name</option>
				<% for (var i=0; i< company_names.length; i++ ) { %>
					<option value=<%= company_names[i].id %>><%= company_names[i].name %></option>
				<% } %>
				<!-- </script> -->
				</select>
			</div>
			<div class="two columns">
				<input type="submit" value="View Profile">
			</div>
		</form>
	</div>
</div>

</body>
</html>