<html>
<head>
	<h1> The School Trust </h1>
</head>

<body>

<h3>Log in as:</h3>
<a href="/teacherreglog">Teacher</a>
<br>
<a href="/companyreglog">Company</a>


<h3><a href="/teacherdashboard">Teacher Dashboard</a></h3>

<h3><a href="/companydashboard">Company Dashboard</a></h3>

</body>
</html>