<html>
<head>
	<title>The School Trust Home</title>
	<div class='container'>
		<link rel="stylesheet" href="static/skeleton/css/normalize.css">
		<link rel="stylesheet" href="static/skeleton/css/skeleton.css">
		<div>
			<h1> The School Trust. </h1>
			<p>The School Trust takes pride in connecting, facilitating, and updating our schools and donors through our platform.</p>
		</div>
	</div>
</head>

<body>

<div class='container'>

	<h4><strong>Login/Register</strong></h4>
	<div class="row">
		<div class="three columns"><a class="u-full-width button" href="/teacherreglog">Teacher</a></div>
		<div class="three columns"><a class="u-full-width button" href="/companyreglog">Company</a></div>
	</div>

	<p></p>
	<h4><strong>Already Enrolled?</strong></h4>
	<div class="row">
		<div class="three columns"><a class="u-full-width button button-primary" href="/teacherdashboard">Teacher Dashboard</a></div>
		<div class="three columns"><a class="u-full-width button button-primary" href="/companydashboard">Company Dashboard</a></div>
	</div>
</div>

</body>
</html>