<html>
<head>
	<h1> The School Trust. </h1>
	<p>The School Trust takes pride in connecting, facilitating, and updating our schools and donors through our platform.</p>
</head>

<body>

<h3><strong>Login/Register</=strong></h3>
<h4>As a <a href="/teacherreglog">Teacher</a></h4>
<h4>As a <a href="/companyreglog">Company</a></h4>


<h3><strong>Already Enrolled?</strong></h3>
<h4><a href="/teacherdashboard">Teacher Dashboard</a></h4>
<h4><a href="/companydashboard">Company Dashboard</a></h4>

</body>
</html>