<html>
<!-- requires: session, transaction, STRIPE_PUB_KEY -->

<head>
	<link rel="stylesheet" href="static/skeleton/css/normalize.css">
	<link rel="stylesheet" href="static/skeleton/css/skeleton.css">
	<div class="container">
		<h1> Make a Payment</h1>
	</div>
</head>

<body>
	<div class="container">
		<h5>Finalize donation of $<%=transaction.amount%> to <%=transaction.teacher_name%></h5>
		<form id="payment-form" action="/checkout" method="post">
		 	<input type="hidden" name="transaction_id" value=<%= transaction._id %>>
		 	<div class="row">
		 		<div class="six columns">
		    		<div id="card-element" class="u-full-width" style="background-color:#036bfc; padding: 15 10; border-radius: 4px"></div>
		 		</div>
		 	</div><br>
		    <div class="row" id="card-errors" role="alert"></div>
		    <button class="button">Submit Payment</button>
		</form>
	</div>
</body>


<script src="https://js.stripe.com/v3/"></script>
<script>
	var STRIPE_PUB_KEY = "<%=STRIPE_PUB_KEY%>";
</script>
<script src="scripts/payment_script.js"></script>

</html>