<!DOCTYPE html>
<html>
<head>
<title>Teacher Register & Login Page</title>
<!--Custom Theme files-->
	<link rel="stylesheet" href="static/skeleton/css/normalize.css">
	<link rel="stylesheet" href="static/skeleton/css/skeleton.css">

	<div class="container">

<% if (session.teacherId) { %>

		<h1> You are already logged in as a teacher! </h1>
		<a class="button" href="/"> Home </a><br>
		<a class="button" href=/teacherdashboard/> Dashboard </a>
	</div>
</head>

<% } else if (session.companyId) { %>

		<h1> You are already logged in as a company! </h1>
		<a class="button" href="/"> Home </a><br>
		<a class="button" href=/companydashboard/> Dashboard </a>
	</div>
</head>

<% } else { %>
		
		<h1>Teacher Authentication 🚀 </h1>
		<a class="button" href="/"> Home </a><br>

	</div>
</head>

<body>

<div class="container">

	<% if (session.failedLogin) { %>

	<p style="color:red"> Email or Password were incorrect. Try Again </p>

	<% } %>

	<h3>Login</h3>
	
	<div class="row login-form">
		<form action="/teacherreglog" method="post">
			<div class="three columns">
				<input class="u-fill-width" type="text" name="logemail" placeholder="E-mail" required="">
			</div>
			<div class="three columns">
				<input class="u-fill-width" type="password" name="logpassword" placeholder="Password" required="">
			</div>
			<div class="three columns">
				<input class="u-fill-width button button-primary" type="submit" value="LOGIN NOW">
			</div>
		</form>
	</div>

	<h3>Register</h3>

	
	<div class="register-form">
		<form id="login" action="/teacherreglog" method="post" onsubmit="event.preventDefault(); validateMyForm();">
			<div class="row">
				<div class="four columns">
					<input class="u-full-width" type="text" name="first" placeholder="First Name" required="">
				</div>
				<div class="four columns">
					<input class="u-full-width" type="text" name="last" placeholder="Last Name" required="">
				</div>
			</div>
			<div class="row">
				<div class="four columns">
					<input class="u-full-width" type="text" name="email" placeholder="E-mail" required="">
				</div>
				<div class="four columns">
					<input class="u-full-width" type="text" name="username" placeholder="Username" required="">
				</div>
			</div>
			<div class="row">
				<input class="four columns" type="password" name="password" placeholder="Password" id="password" required="" >
				<input class="four columns" type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required="">
			</div> <br>
			<div class="row">
				<input class="button button-primary" type="submit" value="REGISTER & LOGIN">
			</div>
		</form>
	</div>
	<p><a href="#"> By clicking register, I agree to your terms</a></p>


	<script type="text/javascript">
		var passWordField = document.getElementById('password')
		var passWordConfirmField = document.getElementById('password_conf')
		var form = document.getElementById('login')
		function validateMyForm(){
			if(passWordField.value != passWordConfirmField.value){ 
		    	alert("Passwords do not match. Please try again.");
		  	} else {
		  		form.submit()
		  	}
		}
	</script>	

</div>

</body>

<% } %>

</html>